---
import GlobalNavigationLink from './GlobalNavigationLink.astro';

interface Props {
  orientation?: 'vertical' | 'horizontal';
  color: 'stone' | 'slate' | 'yellow';
}

const links: Array<{ href: string; content: string }> = [
  { href: '/about', content: 'About' },
  { href: '/bits', content: 'Bits' },
  { href: '/articles', content: 'Articles' },
  { href: '/projects', content: 'Projects' }
];

const { orientation = 'vertical', color = 'stone' } = Astro.props;
---

<nav class="w-full text-2xl font-semibold text-stone-400">
  <ul
    class="flex gap-1"
    class:list={orientation === 'vertical'
      ? 'flex-col gap-1'
      : 'flex-row gap-4'}
  >
    <li class="mr-auto">
      <GlobalNavigationLink href="/" color={color}>Home</GlobalNavigationLink>
    </li>

    {
      links.map(({ href, content }) => (
        <li>
          <GlobalNavigationLink href={href} color={color}>
            {content}
          </GlobalNavigationLink>
        </li>
      ))
    }
  </ul>
</nav>
