---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-[var(--GlobalNavigation-text-color)] hover:text-[var(--GlobalNavigation-text-color--hover)]"
>
  <slot />
</a>
