---
import GlobalNavigationLink from './GlobalNavigationLink.astro';

interface Props {
  orientation?: 'vertical' | 'horizontal';
}

const links: Array<{ href: string; content: string }> = [
  { href: '/about', content: 'About' },
  { href: '/projects', content: 'Projects' },
  { href: '/bits', content: 'Bits' },
  { href: '/articles', content: 'Articles' }
];

const { orientation = 'vertical' } = Astro.props;
---

<style>
  :root {
    --GlobalNavigation-text-color: theme('colors.stone.400');
    --GlobalNavigation-text-color--hover: theme('colors.stone.800');
  }
</style>

<nav class="w-full text-xl font-semibold md:text-2xl">
  <ul
    class:list={[
      'flex gap-2',
      orientation === 'vertical'
        ? 'flex-row md:flex-col md:gap-1'
        : 'flex-row items-center'
    ]}
  >
    <li class={orientation === 'vertical' ? 'mr-auto md:mr-0' : 'mr-auto'}>
      <GlobalNavigationLink href="/">Home</GlobalNavigationLink>
    </li>

    {
      links.map(({ href, content }) => (
        <li>
          <GlobalNavigationLink href={href}>{content}</GlobalNavigationLink>
        </li>
      ))
    }
  </ul>
</nav>
