---
import GlobalNavigationLink from './GlobalNavigationLink.astro';

interface Props {
  orientation?: 'vertical' | 'horizontal';
}

const links: Array<{ href: string; content: string }> = [
  { href: '/about', content: 'About' },
  { href: '/projects', content: 'Projects' },
  { href: '/bits', content: 'Bits' },
  { href: '/articles', content: 'Articles' }
];

const { orientation = 'vertical' } = Astro.props;
---

<style>
  :root {
    --GlobalNavigation-text-color: theme('colors.stone.400');
    --GlobalNavigation-text-color--hover: theme('colors.stone.800');
  }
</style>

<nav class="w-full text-2xl font-semibold">
  <ul
    class="flex gap-1"
    class:list={orientation === 'vertical'
      ? 'flex-col gap-1'
      : 'flex-row gap-4'}
  >
    <li class="mr-auto">
      <GlobalNavigationLink href="/">Home</GlobalNavigationLink>
    </li>

    {
      links.map(({ href, content }) => (
        <li>
          <GlobalNavigationLink href={href}>{content}</GlobalNavigationLink>
        </li>
      ))
    }
  </ul>
</nav>
