---
interface Props {
  href: string;
  color: 'stone' | 'slate';
}

const { content, href, color } = Astro.props;
---

<a
  href={href}
  class:list={{
    'text-stone-400 hover:text-stone-800': color === 'stone',
    'text-slate-700 hover:text-slate-950': color === 'slate'
  }}
>
  <slot />
</a>
