---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  title: string;
}

const { title, ...rest } = Astro.props;
---

<div {...rest}>
  <h2 class="border-b-2 border-[color:var(--tw-prose-headings)] capitalize">
    {title}
  </h2>
  <section>
    <slot />
  </section>
</div>
