---
import { format, formatISO } from 'date-fns';
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import GlobalNavigation from '@components/GlobalNavigation.astro';
import Footer from '@components/Footer.astro';
import SubscriptionForm from '@components/SubscriptionForm.astro';

export const prerender = true;

interface Props {
  article: CollectionEntry<'articles'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
  const articles = await getCollection('articles');

  return articles.map((article) => ({
    props: { article },
    params: { slug: article.slug }
  }));
};

const { article } = Astro.props;
if (!article) {
  return Astro.redirect('/404');
}

const { Content, ...rest } = await article.render();
---

<Layout title={article.data.heading} description={article.data.description}>
  <header slot="header" class="m-auto flex max-w-screen-md flex-row justify-between py-12">
    <a href="/" class="text-2xl font-bold text-stone-400 hover:text-stone-800"
      >{'<-'} Home</a
    >
    <GlobalNavigation orientation="horizontal" />
  </header>
  <main class="mx-auto w-full max-w-screen-md">
    <article class="w-full">
      <header class="flex w-full flex-col flex-nowrap items-center">
        <div class="m-auto mb-6">
          <time
            datetime={formatISO(article.data.published_at)}
            class="text-xl text-gray-400"
          >
            {format(article.data.published_at, 'PPP')}
          </time>
        </div>
        <h1 class="mb-12 text-balance font-sans text-4xl font-semibold">
          {article.data.heading}
        </h1>
      </header>
      <div class="text-pretty font-serif text-2xl leading-relaxed">
        <Content />
      </div>
    </article>
  </main>

  <Footer slot="footer" class="w-full max-w-screen-md pt-12">
    <div
      class="mx-auto max-w-screen-sm rounded-lg bg-stone-100 p-6"
      slot="footer-top"
    >
      <SubscriptionForm />
    </div>
  </Footer>
</Layout>
