---
import { type Node } from '@lib/create_toc';

interface Props {
  node: Node;
  maxDepth: number;
}

const { node } = Astro.props;
---

<li class="my-1">
  <a class="underline hover:no-underline" href={`#${node.slug}`}>{node.text}</a>
  {
    node.depth < Astro.props.maxDepth && node.children.length > 0 ? (
      <ul class="my-1 list-none pl-6">
        {node.children.map((child) => (
          <Astro.self node={child} maxDepth={Astro.props.maxDepth} />
        ))}
      </ul>
    ) : null
  }
</li>
