---
import CommonHeader from '@components/Header.astro';
import Prose from '@components/Prose.astro';

interface Props {
  heading: string;
}
---

<div slot="header" class="mx-auto w-full max-w-screen-lg">
  <CommonHeader>
    <div class="flex-1" slot="left-side">
      <div class="w-2/3">
        <Prose size="lg">
          <h1 class="mb-4 text-4xl !font-bold">{Astro.props.heading}</h1>
        </Prose>
        <Prose size="lg" slot="subheading">
          <slot name="subheading" />
        </Prose>
      </div>
    </div>
  </CommonHeader>
</div>
