---
import { format, formatISO } from 'date-fns';
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection, getEntry, type CollectionEntry } from 'astro:content';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SubscriptionForm from '@components/SubscriptionForm.astro';

export const prerender = true;

interface Props {
  bit: CollectionEntry<'bits'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
  const bits = await getCollection('bits');

  return bits.map((bit) => ({
    props: { bit: bit },
    params: { slug: bit.slug }
  }));
};

const { bit } = Astro.props;
if (!bit) {
  return Astro.redirect('/404');
}

const { Content, ...rest } = await bit.render();
---

<Layout title={bit.data.heading} description={bit.data.description}>
  <header class="m-auto max-w-screen-md">
    <Header>
      <div slot="left-side" class="flex-grow"></div>
    </Header>
  </header>
  <main class="mx-auto w-full max-w-screen-md">
    <article class="w-full">
      <header class="flex w-full flex-col flex-nowrap items-center">
        <div class="m-auto mb-6">
          <time
            datetime={formatISO(bit.data.published_at)}
            class="text-xl text-gray-400"
          >
            {format(bit.data.published_at, 'PPP')}
          </time>
        </div>
        <h1 class="mb-12 text-balance font-sans text-4xl font-semibold">
          {bit.data.heading}
        </h1>
      </header>
      <div class="text-pretty font-serif text-2xl leading-relaxed">
        <Content />
      </div>
    </article>
  </main>

  <Footer slot="footer" class="w-full max-w-screen-md pt-12">
    <div
      class="mx-auto max-w-screen-sm rounded-lg bg-stone-100 p-6"
      slot="footer-top"
    >
      <SubscriptionForm />
    </div>
  </Footer>
</Layout>
