---
interface Props {
  heading: string;
  orientation: 'vertical' | 'horizontal';
  all?: {
    content: string;
    href: string;
  };
}

const { all } = Astro.props;
---

<div class="flex flex-col flex-nowrap md:flex-row">
  <h2
    class="mb-4 w-full text-left text-3xl text-stone-600 md:mb-0 md:w-1/6 md:pr-8 md:text-right md:text-4xl"
  >
    {Astro.props.heading}
  </h2>
  <div class="flex flex-grow flex-col gap-4">
    <div class="flex flex-col gap-12">
      <slot />
    </div>

    {
      all ? (
        <div class="text-xl">
          <a href={all.href} class="text-blue-700 underline hover:no-underline">
            {all.content}
          </a>
        </div>
      ) : null
    }
  </div>
  <div class="hidden md:block md:w-1/6"></div>
</div>
