---
import { all_seen_tags } from '@api';
import Tag from '@components/Tag.astro';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import GlobalNavigation from '@components/global_navigation/GlobalNavigation.astro';
import Footer from '@components/Footer.astro';

export const prerender = true;
---

<DefaultLayout title="All tags" description="">
  <div class="flex flex-col gap-4">
    <h1 class="text-3xl text-stone-600">All Topics</h1>
    <div class="flex flex-row flex-wrap gap-2">
      {
        all_seen_tags.map((t) => (
          <Tag
            tag={{ id: t.id, name: t.data.name }}
            count={t.count}
            fill={true}
          />
        ))
      }
    </div>
  </div>

  <Footer slot="footer" class="pt-12" />
</DefaultLayout>
