---
import Layout from '@layouts/Layout.astro';
import Articles from '@pages/_components/Articles.astro';
import Bits from '@pages/_components/Bits.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SubscriptionForm from '@components/SubscriptionForm.astro';
---

<Layout title="Roman Vanesyan" description="">
  <div slot="header" class="mx-auto w-full max-w-screen-lg">
    <Header>
      <div class="flex-1 text-balance" slot="left-side">
        <h1 class="mb-4 text-3xl">Hello, I am Roman</h1>
        <p class="text-xl">
          Here I most often talk about efficient software, productivity tooling,
          code abstractions, and photography.
        </p>
      </div>
    </Header>
  </div>

  <main class="mx-auto w-full max-w-screen-2xl">
    <div class="flex flex-col gap-24">
      <Bits />
      <Articles />
    </div>
  </main>
  <Footer slot="footer" class="pt-12">
    <div class="bg-stone-100" slot="footer-top">
      <div class="mx-auto max-w-screen-lg px-2 py-4">
        <SubscriptionForm />
      </div>
    </div>
  </Footer>
</Layout>
