---
import Layout from '@layouts/Layout.astro';
import Articles from '@pages/_components/Articles.astro';
import Bits from '@pages/_components/Bits.astro';
import Header from '@pages/_components/forefront/Header.astro';
import Footer from '@components/Footer.astro';
import SubscriptionForm from '@components/SubscriptionForm.astro';
import FrequentTags from '@pages/_components/FrequentTags.astro';
import Divider from '@pages/_components/Divider.astro';

export const prerender = true;
---

<Layout title="Roman Vanesyan" description="">
  <div slot="header" class="mx-auto w-full max-w-screen-lg">
    <Header heading="Hey, I am Roman">
      <div slot="subheading">
        <p class="font-sans font-semibold">
          Here I most often talk about efficient software, productivity tooling,
          code abstractions, and photography.
        </p>
      </div>
    </Header>
  </div>
  <main class="mx-auto w-full max-w-screen-2xl">
    <div class="flex flex-row pb-12 pt-4">
      <div class="w-1/6"></div>
      <div class="flex flex-grow flex-col">
        <FrequentTags />
      </div>
      <div class="w-1/6"></div>
    </div>

    <div class="flex flex-col">
      <Bits />
      <Divider class="mx-auto w-2/3" />
      <Articles />
    </div>
  </main>
  <Footer slot="footer">
    <div class="bg-stone-100" slot="footer-top">
      <div class="mx-auto max-w-screen-lg px-2 py-4">
        <SubscriptionForm />
      </div>
    </div>
  </Footer>
</Layout>
