---

---

<nav class="text-2xl">
  <ul class="flex flex-col gap-1">
    <li><a href="/about">About</a></li>
    <li><a href="/bits">Bits</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/photography">Photography</a></li>
  </ul>
</nav>
