---
interface Props {
  orientation?: 'vertical' | 'horizontal';
}

const links: Array<{ href: string; content: string }> = [
  { href: '/about', content: 'About' },
  { href: '/bits', content: 'Bits' },
  { href: '/articles', content: 'Articles' },
  { href: '/projects', content: 'Projects' }
  // { href: '/photography', content: 'Photography' }
];

const orientation = Astro.props.orientation ?? 'vertical';
---

<nav class="text-2xl font-semibold text-stone-400">
  <ul
    class="flex gap-1"
    class:list={orientation === 'vertical'
      ? 'flex-col gap-1'
      : 'flex-row gap-4'}
  >
    {
      links.map(({ href, content }) => (
        <li>
          <a href={href} class="hover:text-stone-800">
            {content}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
