---

---

<div
  class="prose:p-text-justify prose:headings-text-balance prose prose-xl prose-stone font-serif prose-headings:font-sans prose-pre:bg-stone-100 prose-pre:text-stone-900"
>
  <slot />
</div>
