---
import { subscription_form_schema, type InferError } from '@api';
import Input from '@components/Input.astro';

interface Props {
  validationError?: InferError<typeof subscription_form_schema> | null;
}

const error = Astro.props.validationError?.flatten() ?? null;
---

<div class="mx-auto" id="subscription-form">
  <div class="w-9/12 max-w-screen-sm">
    <p class="mb-4 text-balance text-lg">
      There's no active mailing list at the moment, but consider subscribing,
      and one day you'll be the first to receive an email from me.
    </p>
    <form
      method="post"
      hx-post="/api/subscribe"
      hx-swap="innerHTML"
      hx-target="#subscription-form"
    >
      <div class="flex flex-col flex-nowrap gap-2">
        <div class="flex-grow">
          <Input
            type="text"
            id="email"
            name="email"
            placeholder="Your email here"
            errors={error?.fieldErrors?.email}
          />
          <button
            class="border border-stone-600 bg-blue-600 px-4 py-1 text-stone-100"
            type="submit">Subscribe</button
          >
        </div>
      </div>
    </form>
  </div>
</div>
