---

---

<div class="mx-auto">
  <p class="mb-4 text-balance text-lg">
    There is no active mailing at the moment. However, consider subscribing, and
    some day you will be the first one receiving email from me.
  </p>
  <form method="post" action="/newsletter/subscribe">
    <div class="flex flex-row flex-nowrap items-end gap-2">
      <div class="flex flex-col">
        <label for="email">Email</label>
        <input
          class="inline-block border border-stone-600 px-2 py-1"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <button
        class="border border-stone-600 bg-blue-600 px-4 py-1 text-stone-100"
        type="submit">Subscribe</button
      >
    </div>
  </form>
</div>
