---
interface Props {
  tag: {
    id: string;
    name: string;
  };
  count?: number;
  fill?: boolean;
  size: 'sm' | 'md' | 'lg';
}

const { count, tag, size = 'sm', fill = false } = Astro.props;
---

<a
  href={`/tags/${tag.id}`}
  class:list={[
    'inline-block font-sans leading-4 text-stone-600 underline hover:no-underline',
    fill ? ['px-1', 'py-1', 'bg-stone-200'] : [],
    {
      'text-sm': size === 'sm',
      'text-base': size === 'md',
      'text-lg': size === 'lg'
    }
  ]}
>
  {tag.name}
  {count ? `(${count})` : null}
</a>
