@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --code-bg-color: theme('colors.stone.100');
    --code-hl-comment-color: theme('colors.stone.500');
    --code-hl-punctuation-color: theme('colors.stone.400');
    --code-hl-operator-color: theme('colors.stone.400');
    --code-hl-ident-color: theme('colors.stone.900');
    --code-hl-keyword-color: theme('colors.stone.900');
    --code-hl-constant-color: theme('colors.stone.900');
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-hl-comment-color);
  @apply italic;
}

.token.punctuation {
  color: var(--code-hl-punctuation-color);
}

.token.tag,
.token.boolean,
.token.number,
.token.selector,
.token.deleted {
  color: var(--code-hl-constant-color);
}

.token.keyword,
.token.property,
.token.constant,
.token.symbol,
.token.builtin {
  color: var(--code-hl-keyword-color);
  @apply font-bold;
}

.token.attr-name,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.token.parameter,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: var(--code-hl-constant-color);
}

.token.function,
.token.attr-value {
  color: var(--code-hl-constant-color);
}

.token.important {
  @apply font-bold;
}
