---
import Head from '@components/Head.astro';
import '@root/main.css';

interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={Astro.props.title} description={Astro.props.description} />
    <slot slot="head" name="head" />
  </head>
  <body class="bg-zinc-150 flex min-h-screen flex-col">
    <slot />
  </body>
</html>
