---
import Head from '@components/Head.astro';
import { ViewTransitions } from 'astro:transitions';
import '@root/main.css';

interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={Astro.props.title} description={Astro.props.description} />
    <ViewTransitions />
    <slot slot="head" name="head" />

    <style>
      :root {
        --bg-color: theme('colors.neutral.50');
        --text-color: theme('colors.stone.950');
      }

      html {
        font-size: 20px;
      }
    </style>
  </head>
  <body
    class="relative flex min-h-screen flex-col bg-[var(--bg-color)] text-[var(--text-color)]"
  >
    <slot />
    <script>
      import * as htmx from 'htmx.org';

      declare global {
        interface Window {
          htmx: typeof htmx;
        }
      }

      document.addEventListener('astro:after-swap', function () {
        htmx.process(document.body);
      });

      window.htmx = htmx;
    </script>
  </body>
</html>
