---
import BaseLayout from '@layouts/BaseLayout.astro';

export interface Props {
  title: string;
  description: string;
}
---

<BaseLayout title={Astro.props.title} description={Astro.props.description}>
  <slot name="head" />

  <header>
    <slot name="header" />
  </header>

  <div class="flex-grow">
    <slot />
  </div>

  <footer>
    <slot name="footer" />
  </footer>
</BaseLayout>
