---
import BaseLayout from '@layouts/BaseLayout.astro';

export interface Props {
  class?: string;
  title: string;
  description: string;
}
---

<BaseLayout {...Astro.props}>
  <slot name="head" />

  <header>
    <slot name="header" />
  </header>

  <div class="flex flex-grow flex-col">
    <slot />
  </div>

  <footer>
    <slot name="footer" />
  </footer>
</BaseLayout>
