---
interface Props {
  name: string;
  description: string;
  url: string;
}
---

<a
  href={Astro.props.url}
  target="_blank"
  class="group block"
  data-astro-prefetch={false}
>
  <h2
    class="inline-block rounded px-2 py-1 font-sans text-xl font-bold leading-none group-hover:bg-indigo-50"
  >
    {Astro.props.name}
  </h2>
  <p class="my-3 ml-2 font-serif">{Astro.props.description}</p>
</a>
